<div class="page-header d-flex flex-column justify-content-center align-items-center text-center py-5 mb-5">
  <h1 class="display-4 fw-bold mb-2">Filipe Epande</h1>
  <p style="color: white;">Art & Design</p>
  <div class="header-leaf-decoration"></div>
</div>

<div class="container py-8" style="margin-bottom: 10em;">
  <div class="row align-items-center">
    <div class="col-lg-7 col-md-12 mb-4 mb-lg-0" style="padding: 4em;">
      <h2 class="display-5 fw-bold mb-4">Hi, I'm Filipe Epande</h2>
      <p class="lead text-secondary" style="text-align: justify;">
       Since I was very young, drawing has been much more than a passion, it is my language. As an illustrator, I strive to capture the essence of each subject, whether it be expressive characters, immersive landscapes, or detailed objects. My career has allowed me to develop expertise. I am motivated by creating works that move, inform, inspire, and make people dream.
      </p>
      <div class="d-flex mt-4">
        <button class="btn btn-success btn-lg me-3" style="background-color: #045280;"><a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="active">VIEW ALL</a></button>
        <button class="btn btn-outline-secondary btn-lg"><a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active">LET'S TALK</a></button>
      </div>
    </div>

    <div class="col-lg-5 col-md-12">
      <img src="/ImagesHomeHeader/photo.jpg" class="img-fluid rounded shadow-lg" alt="Filipe Epande Profile">
    </div>
  </div>
</div>