h1, h2, h3, h4, h5, h6, strong {
  font-family: "Playfair Display";
}
p, a{
  font-family: "Montserrat", sans-serif;
}
.col1{
  display: flex;
  gap: 10px;
  padding-top: 5px;
  align-items: center;
  justify-content: center;
  margin: 5px;
  line-height: 20px;
}
h4{
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
.section-foot{
  padding: 5px;
}
.bande{
  background-color: #212529;
  width: 100%;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  border-radius: 8px;
  padding: 2em;
  margin-top: 2em;
}
.contact-info {
  background-color: #f8f9fa; /* Couleur de fond claire */
  padding: 50px 0; /* Espacement vertical */
}

.contact-info i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-info h4 {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-info p {
  margin-bottom: 2em;
}

.list-unstyled li a{
  color:#126e82;;
}




/***************** style des links button *****************************/
.linkButton{
  position: relative;
  right: 0;
  bottom: 320px;
  position: fixed;
}

/***********style du whatsapp button lors du survol*****************************/
.whatsapp-button{
  display: none;
}

#whatsappButton.survole  .whatsapp-button {
  position: relative; /* Pour positionner l'élément pseudo-élément */
  display: inline-flex; /* Pour aligner l'icône et le texte côte à côte */
  align-items: center; /* Pour centrer verticalement l'icône et le texte */
  background-color: #25d366; /* Couleur de fond verte de WhatsApp */
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 9em;
  transition: transform 0.8s ease; /* Animation de la transformation */
  display: flex;
  
}

#whatsappButton.survole .whatsapp-button {
  transform: translateX(-5px); /* Déplacement vers le haut au survol */
  animation: apparition 500ms ease-out forwards;
}
@keyframes apparition {
  to {
    opacity: 1; /* Visible après l'animation */
    transform: translateX(0); /* Position finale */
  }
}
.whatsapp-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.whatsapp-button span {
  font-weight: bold;
}

/*****************Style du telegram button lors du survole**************************/
.telegram-button{
  display: none;
}

#telegramButton.survoleTel  .telegram-button {
  position: relative; /* Pour positionner l'élément pseudo-élément */
  display: inline-flex; /* Pour aligner l'icône et le texte côte à côte */
  align-items: center; /* Pour centrer verticalement l'icône et le texte */
  background-color: #007bff; /* Couleur de fond verte de WhatsApp */
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8em;
  transition: transform 0.8s ease; /* Animation de la transformation */
  display: flex;
  
}

#telegramButton.survoleTel .telegram-button {
  transform: translateX(-5px); /* Déplacement vers le haut au survol */
  animation: apparition 500ms ease-out forwards;
}
@keyframes apparition {
  to {
    opacity: 1; /* Visible après l'animation */
    transform: translateX(0); /* Position finale */
  }
}
.telegram-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.telegram-button span {
  font-weight: bold;
}

/************ style du hidden button ************************/

#networkButton{
  display: flex;
  flex-direction: column;
}
#arrowContainer.hidden #networkButton{
  display: none;
}

#flecheDroite {
  transform: rotate(0deg); /* Pivote de 180 degrés (100% vers la gauche) */
  transition: transform 0.3s ease; /* Ajoute une transition pour une animation fluide */
}

#arrowContainer.hidden #flecheDroite{
  transform: rotate(180deg); /* Déplacement vers le haut au survol */
  animation: apparition 500ms ease-out forwards;
}

@keyframes apparition {
  to {
    opacity: 1; /* Visible après l'animation */
    transform: rotate(100%); /* Position finale */
  }
}
