<section class="section-foot">
  <div class="container bande" style="margin-bottom: 2em;">
    <div class="row" style="display: flex; flex-direction: row; padding: 1em;  color: white;">
      <div class="col col1">
        <div>
          <i class="fas fa-phone fa-2x"></i>
        </div>
        <div>
          <p> <strong>Call Us</strong> <br> +1(647)680-4432</p>
        </div>
      </div>
      <div class="col col1">
        <div>
          <i class="fas fa-envelope fa-2x"></i>
        </div>
        <div>
          <p> <strong>Email Us</strong> <br> epandef&#64;gmail.com</p>
        </div>
      </div>
      <div class="col col1">
        <div>
          <i class="fas fa-map-marker-alt fa-2x"></i>
        </div>
        <div>
          <p> <strong>Our Location</strong> <br> Toronto-Canada</p>
        </div>
      </div>
      <div class="col col1">
        <div>
          <i class="fas fa-clock fa-2x"></i>
        </div>
        <div>
          <p><strong>Work Hours</strong> <br> 09:00 AM - 22:00 PM</p>
        </div>
      </div>
    </div>
  </div>
</section>



<!--Implementer les boutons des reseaux-->
<div class="linkButton" style="flex-direction: column;">
  <div class="displayArrow" id="arrowContainer" [ngClass]="{'hidden': estCache}" (dblclick)="hiddeButton()" style="cursor: pointer;">
    <div class="bg-black rounded-end d-flex align-items-center" id="displayArrow" style="height: 30px; width: 40px; justify-content: center; border-radius: 10px 0 0 10px;">
      <i class="fas fa-arrow-right text-white ms-0.5" id="flecheDroite"></i>
    </div>
    <div id="networkButton">
      <div class="rounded-circle bg-success d-flex justify-content-center align-items-center me-1" id="whatsappButton" style="width: 40px; height: 40px;cursor: pointer"[ngClass]="{'survole': estWhatsappClick}" (click)="toggleWhaButton()">
        <button class="whatsapp-button">
          <span><a href="https://wa.me/+1 647 680 4432" style="text-decoration: none; color: white;">WhatsApp</a></span>
        </button>
        <i class="fab fa-whatsapp fa-1x text-white"></i>
      </div>
      <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center"  id="telegramButton" style="width: 40px; height: 40px;cursor: pointer" [ngClass]="{'survoleTel': estTelegramClick}" (click)="toggleTelButton()">
        <button class="telegram-button">
          <span><a href="https://t.me/+1 647 680 4432" style="text-decoration: none; color: white;">Telegram</a></span>
        </button>
        <i class="fab fa-telegram fa-1x text-white"></i>
      </div>
    </div>
  </div>
</div>



