<footer class="footer bg-light  d-flex flex-column flex-md-row justify-content-between align-items-center" style="padding: 4em 1em;">
  <div class="footer-text text-center text-md-start mb-3 mb-md-0" style="font-size: 1.5em;color:black">
    Filipe Epande<br><span style="font-size: 0.7em;">+16473804432</span><br><span><i class="fa-solid fa-envelope"></i>epandef&#64;gmail.com</span>
  </div>
 
  <nav class="footer-nav" style="text-align: center; align-items: center;">
    <ul class="nav" style="display:flex;text-align: center;">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="active">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="social-icons d-flex justify-content-center" id="footer_links">
    <a href="#" class="btn btn-success d-flex align-items-center justify-content-center me-2" aria-label="Facebook">
      <i class="fab fa-facebook-f fa-lg text-white"></i>
    </a>
    <a href="#" class="btn btn-success d-flex align-items-center justify-content-center me-2" aria-label="Twitter">
      <i class="fab fa-twitter fa-lg text-white"></i>
    </a>
    <a href="#" class="btn btn-success d-flex align-items-center justify-content-center me-2" aria-label="LinkedIn">
      <i class="fab fa-linkedin-in fa-lg text-white"></i>
    </a>
    <a href="#" class="btn btn-success d-flex align-items-center justify-content-center me-2" aria-label="Instagram">
      <i class="fab fa-instagram fa-lg text-white"></i>
    </a>
  </div>
</footer>

<!--Implementer les boutons des reseaux-->
<div class="linkButton" style="flex-direction: column;">
  <div class="displayArrow" id="arrowContainer" [ngClass]="{'hidden': estCache}" (dblclick)="hiddeButton()" style="cursor: pointer;">
    <div class="bg-black rounded-end d-flex align-items-center" id="displayArrow" style="height: 30px; width: 40px; justify-content: center; border-radius: 10px 0 0 10px;">
      <i class="fas fa-arrow-right text-white ms-0.5" id="flecheDroite"></i>
    </div>
    <div id="networkButton">
      <div class="rounded-circle bg-success d-flex justify-content-center align-items-center me-1" id="whatsappButton" style="width: 40px; height: 40px;cursor: pointer"[ngClass]="{'survole': estWhatsappClick}" (click)="toggleWhaButton()">
        <button class="whatsapp-button">
          <span><a href="https://wa.me/+1 647 680 4432" style="text-decoration: none; color: white;">WhatsApp</a></span>
        </button>
        <i class="fab fa-whatsapp fa-1x text-white"></i>
      </div>
      <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center"  id="telegramButton" style="width: 40px; height: 40px;cursor: pointer" [ngClass]="{'survoleTel': estTelegramClick}" (click)="toggleTelButton()">
        <button class="telegram-button">
          <span><a href="https://t.me/+1 647 680 4432" style="text-decoration: none; color: white;">Telegram</a></span>
        </button>
        <i class="fab fa-telegram fa-1x text-white"></i>
      </div>
    </div>
  </div>
</div>



